NOTION_TOKEN=secret_your_token_here
NOTION_RSS_DB_ID=2fed031f08ce80458091f4a62a67d03c
NOTION_CONTENT_DB_ID=2f5d031f08ce80059206fa19ef5a2961
OPENAI_API_KEY=sk-your_openai_key_here
FLASK_APP=src/app.py
FLASK_ENV=development
